* {
    box-sizing: border-box;
}

.hero-container > h3 {
    font-weight: bold;
    font-size: 40px;
    margin:2px;
}

body {
    height:700px;
    width:1500px;
    padding-top:13vh;
    background-color: black;
    text-align: center;
}
    
.hero-photo {
    width:10vw;
    border-radius: 50%;
    margin-top:80%;
}

.left-container, .right-container {
    /*flex: 1 1 50%;*/
    display:flex;
    /*justify-content: center;*/
    /*flex-direction: column;*/
    text-align:center;
    height:100%;
    position:relative;

}

.hero-container {
       display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-power {
    color:purple;
    font-size:40px;
    font-weight: bold;
}

#input, #input-right {
	margin-left:20%;
    margin-right:20%;
	background:#691107;
	color:#fff;
	font-weight:900;
	font-size:25px;
	text-align:center;
	transition:all 0.3s ease;
    margin-bottom:30vh;
    top: -15%;
    position:absolute;
}
#input:hover {
	border-radius:50%;
}
#input-right:hover {
	border-radius:50%;
}
button {
    cursor: pointer;
}
.button-container {
    text-align: center;
    display: flex;
    flex-direction: column;

}


.hero-name-right {
 background: -webkit-linear-gradient(90deg, #1646A4 5%, #225C90 100%);
 color: #225C90;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 font-size: 70px;
 font-family: Trade Winds;
 text-align: center;
}

 .hero-name-left {
 background: -webkit-linear-gradient(90deg, #8F0808 5%, #F70505 100%);
 color: #F00;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 font-size: 70px;
 font-family: Trade Winds;
 text-align: center;
}

#battle-on {
  
    /*position: relative;
    top:20%;*/
    margin-bottom:30px;
    width: 200px;
    height: 100px;
    background-color:white;
    border-radius:5px;
    
}
#reset {
  
    text-decoration: none;
    color: initial;
    margin-top: 20px;
    width:200px;
    background-color:red;
    height:40px;
    border-radius: 50%;
    padding:20px;
}
#ui-id-2, #ui-id-1 {
    width:100%;
    opacity: .8;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

}
.ui-menu-item {
    color:white;
    font-weight:bold;
    font-size:20px;
}

.hero-wrapper {
    display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./background.gif");
  height:700px;
  width:1500px;

}
.ui-helper-hidden-accessible {
    width:0%;
}
#player-one {
    margin-bottom:30px;
    width: 200px;
    height: 100px;
    background-color:white;
    border-radius:5px;
    position:absolute;
    bottom:-17%;
}
#player-two {
    margin-bottom:30px;
    width: 200px;
    height: 100px;
    background-color:white;
    border-radius:5px;
}
.combat-log {
    color:white;
    font-size: 40px;
    position:absolute;
    top:50%;
}
/*__________________________________HEALTH BAR____________________*/


progress {
	width: 400px;
	height: 25px;
	margin: 10px auto;
	-webkit-appearance: none;
	border: none;
    position:absolute;

}


progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
  
}


progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, green, darkgreen
        );
        transition:all 0.5s ease;
	

	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}


@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
  
}